<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nolanlawson.keepscore"
    android:installLocation="auto"
    android:versionCode="26"
    android:versionName="1.4.0" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/CONSTANT_app_name"
        android:theme="@style/KeepScoreMainTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/CONSTANT_app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
  			<!--  associate with KeepScore xml backup files -->
            <intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <data android:mimeType="text/xml" />
			    <data android:scheme="content"/>
			    <data android:scheme="file" />
			    <data android:host="*" />
  			</intent-filter>
        </activity>
        <activity
            android:name=".NewGameActivity"
            android:label="@string/CONSTANT_app_name"/>
        <activity
            android:name=".NamePlayersActivity"
            android:label="@string/CONSTANT_app_name" />
        <activity
            android:name=".PortraitGameActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LandscapeGameActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/menu_settings" />
        <activity
            android:name=".HistoryActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/menu_history" />
        <activity
            android:name=".OrganizePlayersActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/menu_add_edit_players" />
        <activity
            android:name=".AboutActivity"
            android:theme="@style/KeepScorePopupTheme" />

        <service
            android:name=".PeriodicAutomaticBackupService"
            android:label="PeriodicAutomaticBackupService"/>
    </application>

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="8" />

</manifest>